.sobre p {
    width: 60%;
    line-height: 50px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    gap: 20%;
}

footer {
    width: 100;
    text-align: center;
    padding: 20px;
}

tr {
    display: flex;
    flex-direction: column;
}

tr img {
    width: 10%;
}